* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue;
}
.header {
  /* position: sticky; */
  top: 0;
  min-height: 60px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: rgb(18, 13, 57);
}

.logo {
  text-decoration: none;
  padding: 20px;
  color: white;
}
.logo:hover {
  color: grey;
}

.header-links ul li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
  list-style: none;
}

.header-links ul li a {
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header-links ul li a:hover {
  color: grey;
}

/* For products */

.card-group {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 250px;
}

.positioning:active {
  transform: translateY(2px);
}

/* Signup */

.signup {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 60vh;
  margin-top: 30px;
}

/* Cart items */

.cart-items {
  margin: 30px auto;
  width: 50%;
  border: 2px solid black;
  overflow: scroll;
}

.cart-items-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  height: 50px;
  font-weight: bolder;
  border-bottom: 2px solid #000;
}

.cart-items-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

.cart-items-image {
  width: 100px;
  height: auto;
  border: 2px solid black;
  margin-right: 10px;
}
.cart-items-list {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5%;
}
.cart-items-name,
.cart-items-function {
  width: 25%;
}
.cart-items-remove,
.cart-items-add {
  width: 30px;
  margin-right: 15px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
}

.cart-items-add:active {
  transform: translateY(1.2px);
}

.cart-items-remove:active {
  transform: translateY(1.2px);
}

.cart-items-total-price-name {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22%;
  font-size: 20px;
  font-weight: 700;
  border-top: 2px solid #000;
}

.cart-items-total-price {
  display: flex;
  padding-left: 45%;
}

.clear-cart {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.clear-cart-btn {
  border: none;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border-radius: 3px;
}

.clear-cart-btn:hover {
  background-color: rgb(237, 146, 146);
}

.cart-mini {
  vertical-align: super;
  color: rgb(220, 141, 141);
  font-weight: 700;
  font-size: 14px;
}
